<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.Ericmas001.DependencyInjection" version="2.2.0" targetFramework="net461" />
  <package id="Com.Ericmas001.DependencyInjection.Unity" version="2.2.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="SimplyAnIcon.Common" version="0.5.1" targetFramework="net461" />
  <package id="SimplyAnIcon.Plugins" version="0.5.4" targetFramework="net461" />
  <package id="SimplyAnIcon.Plugins.Wpf" version="0.5.4" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net461" />
  <package id="WPFToggleSwitch" version="1.0.0" targetFramework="net461" />
  <package id="Y2D.CustomControls" version="1.5.1" targetFramework="net461" />
</packages>